<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Blog Posts</title>
</head>
<body>
<h2>All Posts</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Content</th>
    <th>Author</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="post : ${posts}">
    <td th:text="${post.id}"></td>
    <td th:text="${post.content}"></td>
    <td th:text="${post.author}"></td>
    <td>
      <a th:href="@{/{id}/edit(id=${post.id})}">Edit</a>
      <a th:href="@{/{id}/delete(id=${post.id})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<a th:href="@{/create}">Create New Post</a>
</body>
</html>